- for org in local_assigns[:visible_orgs]
  - if org.id == local_assigns[:working_org].id
    = link_to local_assigns[:working_org].displayName, set_org_path(:workingorg=>org.id), :method=>"POST", :class=>"selected fl clear", :title=>_("Current Organization")
  - else
    = link_to org.displayName, set_org_path(:workingorg=>org.id), :method=>"POST", :class=>"fl clear"