- for org in local_assigns[:visible_orgs]
  - if org.key == local_assigns[:working_org].key
    = link_to local_assigns[:working_org].displayName, set_org_path(:workingorg=>org.key), :method=>"POST", :class=>"selected fl clear", :title=>_("Current Organization")
  - else
    = link_to org.displayName, set_org_path(:workingorg=>org.key), :method=>"POST", :class=>"fl clear"
